@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Sans:wght@300;400;500;600;700&family=Lato:ital@1&family=Montserrat:wght@300&family=Open+Sans&family=Poppins:wght@300&family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1f5e37;
}

.navbar-collapse li {
  margin-right: 80px;
  color: white;
}

.navbar {
  background-color: #1f5e37;
  margin-top: 30px;
}

.navbar ul a {
  color: white;
}

.btn-1 {
  border-radius: 100px;
  padding: 11px 40px;
  background-color: rgb(243, 134, 91);
}

.btn-1:hover {
  background-color: rgb(241, 105, 50);
}

.card-btn {
  font-size: 18px;
  border: none;
  border-radius: 15px;
  width: 40%;
  height: 60px;
}

.card-2-btn {
  font-size: 25px;
  width: 35%;
  height: 70px;
  background-color: rgb(241, 105, 50);
  border-radius: 27px;
}

.card {
  background-color: #1f5e37;
  padding: 100px 129px;
}

.card-2 {
  display: flex;
  justify-content: space-between;
}

.text {
  display: block;
}

.slider-1-btn {
  background-color: rgb(241, 105, 50);
  color: white;
  border-radius: 25px;
  width: 35%;
  height: 60px;
}

.slider-2 {
  background-color: white;
  display: flex;
}

.slider-text {
  margin-right: 5px;
  padding-top: 20px;
  margin-left: 120px;
}

.img {
  padding-right: 5px;
  width: 290px;
  height: 402px;
}

.img-5 {
  padding-right: 5px;
  width: 290px;
  height: 440px;
}

.carousel {
  display: flex;
  justify-content: space-between;
}

.slide-8 {
  padding-bottom: 10px;
}

.slide-9 {
  font-size: 30px;
  padding-bottom: 10px;
}

.showcase {
  padding-left: 88px;
  padding-top: 200px;
}

.image-10 {
  width: 90%;
  height: 550px;
}

.row-img {
  border-radius: 50%;
  background-color: #f08826;
}

.botton-botton {
  background: rgba(252, 242, 242, 0.904);
  border-radius: 60px;
}

.button-show {
  padding: 80px;
}

.botton-botton {
  padding-top: 90px;
  padding-bottom: 100px;
}

.card-40-btn {
  width: 15%;
  height: 60px;
  background-color: #f08826;
  border-radius: 60px;
}

.botton-botton:hover {
  border: 2px solid rgb(43, 159, 226);
}

.ret {
  position: absolute;
  width: 68px;
  height: 68px;
  top: 170px;
}

.vektor {
  background-color: #ff7b4e;
  position: absolute;
  width: 20px;
  height: 30px;
  left: 25px;
  top: 190px;
  z-index: 30;
}

.navbar {
  display: flex;
  justify-content: center;
  text-align: center;
}

.form-control {
  width: 800px;
  height: 90px;
}

.btn-outline-success {
  position: absolute;
  width: 295px;
  height: 70px;
  top: 154px;
  left: 850px;
  border-radius: 35px;
  background-color: #ff7b4e;
  color: white;
}

.btn-outline-success:hover {
  background-color: #ff7b4e;
  color: white;
}

.form-control {
  border-radius: 35px;
}

.form-control:hover {
  border: 1px solid rgb(43, 159, 226);
  border-radius: 35px;
}

.qwer {
  margin-left: 97px !important;
  margin-right: 218px !important;
  color: #f08826 !important;
}

.yuy,
.tyu {
  color: rgb(121, 120, 120) !important;
}

.bth {
  margin-left: 217px;
}
